apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../..

nameSuffix: -prod

commonLabels:
  variant: production

patches:
- target:
    kind: Deployment
    name: nginx-deployment
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 5